.container {
  width:  80%;
  height: 80%;
  margin: auto auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: repeat(6, 1fr);
  grid-gap: 0.3rem;
}

.grid-1 {
  text-align: center;
  background-color: blue;
}

.grid-2{
  text-align: center;
  background-color: green
}

.one {
  grid-column-start: 1;
  grid-column-end: 5;
}

.eighteen {
  grid-column-start: 1;
  grid-column-end: 3;
}



